name: Deploy Production build

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        required: true
        default: production

jobs:
  setup:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment || 'production' }}
    env:
      DGN: ${{ vars.DGN || 'production' }}
    strategy:
      matrix:
        node-version: [20.x]
    permissions:
      id-token: write
      contents: read
      packages: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup AWS CLI
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_IAM_ROLE }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Fetch github package and deploy to s3
        env:
          PACKAGE_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          SENTRY_AUTH_TOKEN: '${{ secrets.SENTRY_AUTH_TOKEN }}'
        run: |
          echo "//npm.pkg.github.com/:_authToken=${PACKAGE_TOKEN}" > .npmrc && \
          echo '@smallcase:registry=https://npm.pkg.github.com/' >> .npmrc && echo 'legacy-peer-deps=true' >> .npmrc && \
          npm ci && \
          source scripts/build-configs/lamf-production.config && \
          sh scripts/deploy.sh
