name: Release Please

on:
  push:
    branches:
      - prod

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - name: Release Please
        id: release
        uses: google-github-actions/release-please-action@v3
        with:
          token: ${{ secrets.PRE_RELEASE_TAG_ACTION }}
          command: manifest
          release-type: node
          package-name: release-please-action
          default-branch: prod

      - name: Trigger Production Deployment
        if: ${{ steps.release.outputs.release_created }}
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          event-type: trigger-prod-deployment
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'

        