name: Release Merge

on:
  push:
    branches:
      - prod

permissions:
  contents: write

jobs:
  release-merge:
    runs-on: ubuntu-latest
    if: contains(github.event.head_commit.message, 'chore(prod): release') || contains(github.event.head_commit.message, 'chore: release')
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'

      - name: Release Please - Create Release
        uses: google-github-actions/release-please-action@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          command: release
          default-branch: prod
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
